* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    width: 750px;
    max-width: 95%;
    height: 550px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    margin-left: 20px;
}

/* Lado Izquierdo: Formulario */
.login-form {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 28px;
}

.login-form p {
    color: #666;
    margin-bottom: 30px;
    font-size: 14px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #007bff;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.3s;
}

.btn-login:hover {
    background-color: #0056b3;
}

/* Lado Derecho: Imagen */
.login-image {
    flex: 2;
    background: url('../images/2.jpg');
    background-size: cover;
    background-position: center;
    display: block;
}

/* Responsividad */
@media (max-width: 768px) {
    .login-image {
        display: none; /* Oculta la imagen en móviles */
    }
    .login-container {
        width: 400px;
    }
}